# Used when creating the containers
VAULT__TAG=latest
VAULT__PORT_HTTP=80
VAULT__PORT_WS=3012
VAULT__ADMIN_TOKEN=

DB__TAG="14-alpine"
DB__NAME=vault
DB__USER=vault
DB__PASS=
DB__PORT=5432

DB__BACKUP_DUMP_FREQ=1440 # Dump every day
DB__BACKUP_DUMP_BEGIN=0300 # Dump at 3AM
DB__BACKUP_CLEANUP_TIME=10080 # Keep daily backups for 7 days
DB__BACKUP_CHECKSUM=SHA1
DB__BACKUP_COMPRESSION=ZSTD # Note: Disable if using another compression mechanism externally (e.g.: Kopia backup)

# Used within the container for Bitwarden config
# See https://github.com/dani-garcia/vaultwarden/blob/main/.env.template for more info
DOMAIN=https://vault.example.com
INVITATION_ORG_NAME=Vaultwarden
SIGNUPS_ALLOWED=false
SIGNUPS_VERIFY=true
INVITATIONS_ALLOWED=true
WEBSOCKET_ENABLED=true

SMTP_FROM=vault@example.com
SMTP_FROM_NAME=Vaultwarden
SMTP_HOST=smtp.example.com
SMTP_PORT=25
SMTP_SSL=false

YUBICO_SECRET=
YUBICO_CLIENT=
