#### Used when creating the containers ####
DB__BACKUP_SCHEDULE=@daily
DB__BACKUP_KEEP_DAYS=7
DB__BACKUP_KEEP_WEEKS=1
DB__BACKUP_KEEP_MONTHS=0

#AUTHENTIK_TAG=
#AUTHENTIK_IMAGE=

#### Used by Authentik ####
PG_PASS=iamapassword

AUTHENTIK_SECRET_KEY=iamasecret
AUTHENTIK_ERROR_REPORTING__ENABLED=false

# SMTP Host Emails are sent to
AUTHENTIK_EMAIL__HOST=smtp.example.com
AUTHENTIK_EMAIL__PORT=25
AUTHENTIK_EMAIL__USE_TLS=false
AUTHENTIK_EMAIL__USE_SSL=false
AUTHENTIK_EMAIL__TIMEOUT=10
AUTHENTIK_EMAIL__FROM=auth@example.com

AUTHENTIK_PORT_HTTP=80
AUTHENTIK_PORT_HTTPS=443

GEOIPUPDATE_ACCOUNT_ID=123456
GEOIPUPDATE_LICENSE_KEY=licensekey
AUTHENTIK_AUTHENTIK__GEOIP=/opt/authentik/geoip/GeoLite2-City.mmdb

